# ===== Maven =====
target/

# ===== IntelliJ IDEA =====
.idea/
*.iml

# ===== Java =====
*.class

# ===== Logs =====
*.log

# ===== OS =====
.DS_Store
Thumbs.db

# ===== JVM crash logs =====
hs_err_pid*
replay_pid*